.colorc{
    color:#77bbdd;
    font-size:37px;
    font-weight:bold;
}
.kokuchi{
    font-size:35px;
    font-weight:bolder;
    
}
.line{
    text-decoration-line:underline ;
    text-decoration-color:#CCAA88;
}
